.wrapper {
    width: 80%;
    min-height: 600px;
    margin: 30px auto;
    border: 0px solid #fff;
    border-radius: 20px;
    background-color: #fff;
}

.main {

}
    .main__content {
        padding: 30px;
    }

    .card-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0px auto 30px auto;
        padding: 10px;
        gap:10px;
        margin-top: 20px;
    }
        .card-item {
            position: relative;
            display: flex;
            width: 300px;
            flex-direction: column;
            border: 1px solid #f3f3f3;
            border-radius: 20px;
            gap: 0px;
            justify-content: space-between;
            padding: 20px;
        }
        .card-item img {
            display: block;
            margin: 0 auto;
            width: 200px;
        }
        .card-item h4 {
            font-size: 18px;
            font-weight: 600;
        }
        .card-item__price-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .card-item__price-block span {
            font-size: 18px;
            font-weight: 700;
            color: var(--gold-accent)
        }
        .card-item button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            color: var(--text-primary);
            font-size: 18px;              
            padding: 0;                   
            border: 1px solid #303030;
            border-radius: 5px;
            cursor: pointer;
        }
        .card-item__button-favorite {
            position: absolute;
            top: 30px;
            left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            color: var(--text-primary);
            font-size: 18px;              
            padding: 0;                   
            border: 1px solid #303030;
            border-radius: 5px;
            cursor: pointer;
        }