body {
    color: var(--imperial-red);
    background-color: var(--primary-bg);
}

.cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
    .cart-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-nav button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            color: var(--text-primary);
            font-size: 14px;              
            padding: 0;                   
            border: 1px solid #303030;
            border-radius: 5px;
            cursor: pointer;
        }

        .cart-empty {
            display: block;
        }
    .cart__content {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: #fff;
        padding: 30px;
    }
    .cart__content h4 {
        display: block;
        font-size: 20px;
        margin-bottom: 50px;
    }
    .cart-items {
        overflow: auto;
        height: 80%;
        width: 100%;
    }
    .cart-item {
            display: flex;
            width: 0.7fr;
            flex-direction: row;
            border: 1px solid #f3f3f3;
            border-radius: 20px;
            gap: 20px;
            justify-content: space-between;
            padding: 10px;
            
        }
        .cart-item img {
            display: block;
            margin: 0 auto;
            width: 100px;
        }
        .cart-item h5 {
            font-size: 14px;
            font-weight: 600;
        }
        .cart-item__price-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .cart-item__price-block--bottom {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        .cart-item__price-block span {
            font-size: 16px;
            font-weight: 700;
            color: #303030;
            padding-left: 10px;
        }
        .cart-item button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            color: var(--text-primary);
            font-size: 14px;              
            padding: 0;                   
            border: 1px solid #303030;
            border-radius: 5px;
            cursor: pointer;
        }

.wrapper {
    width: 80%;
    min-height: 600px;
    margin: 30px auto;
    border: 0px solid #fff;
    border-radius: 20px;
    background-color: #fff;
}

.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}
    .header__left-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
    }
        .left-block__logo {
            display: flex;
            font-size: 28px;
        }
        .left-block__title {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items:flex-start;
            justify-content: flex-start;
        }
        .left-block__title h2{
            display: block;
            font-size: 18px;
            margin: 0;
        }
        .left-block__title span{
            display: block;
            font-size: 14px;
            color: var(--text-muted);
            margin: 0;
        }
    .header__right-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
        .right-block__menu ul{
            list-style-type: none;
        }
        .right-block__menu li {
            display: inline-block;
        }
        .right-block__menu a {
            color: var(--text-muted);
            text-decoration: none;
            padding-right:30px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
        }
        .right-block__menu a:hover {
            color: var(--imperial-red)
        }

/**/

.slaider {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
}
    .slaider__content {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .slaider__content img {
        width: 95%;
        border: 0px solid #fff;
        border-radius: 20px;
        cursor: pointer;
    }
    .slaider__content__button--prev {
        position: absolute;
            top: 50%;
            left: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            background-color: var(--gold-accent);
            font-size: 18px;              
            padding: 0;                   
            border: 1px solid var(--gold-accent);
            border-radius: 5px;
            cursor: pointer;
    }
    .slaider__content__button--next {
        position: absolute;
            top: 50%;
            right: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            background-color: var(--gold-accent);
            font-size: 18px;              
            padding: 0;                   
            border: 1px solid var(--gold-accent);
            border-radius: 5px;
            cursor: pointer;    
    }

/**/

.main {

}
    .main__content {
        padding: 30px;
    }


    .card-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0px auto 30px auto;
        padding: 10px;
        gap:10px;
        margin-top: 20px;
    }
        .card-item {
            position: relative;
            display: flex;
            width: 300px;
            flex-direction: column;
            border: 1px solid #f3f3f3;
            border-radius: 20px;
            gap: 0px;
            justify-content: space-between;
            padding: 20px;
        }
        .card-item img {
            display: block;
            margin: 0 auto;
            width: 200px;
        }
        .card-item h4 {
            font-size: 18px;
            font-weight: 600;
        }
        .card-item__price-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .card-item__price-block span {
            font-size: 18px;
            font-weight: 700;
            color: var(--gold-accent)
        }
        .card-item button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            color: var(--text-primary);
            font-size: 18px;              
            padding: 0;                   
            border: 1px solid #303030;
            border-radius: 5px;
            cursor: pointer;
        }
        .card-item__button-favorite {
            position: absolute;
            top: 30px;
            left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            color: var(--text-primary);
            font-size: 18px;              
            padding: 0;                   
            border: 1px solid #303030;
            border-radius: 5px;
            cursor: pointer;
        }